body{
    font-family: Arial, sans-serif;
    padding: 16px;
}
.menu-item{
    font-size: 13px;
    color: rgba(0, 0, 0, 0.87);
    text-decoration: none;
    position: relative;
    margin-right: 16px;
    top: -9px;
}
.menu-item:hover{
    text-decoration: underline;
}
#dropdown-menu{
    position: relative;
    top: -2px;
    margin-right: 16px;
}
#profile-pic{
    width: 32px;
    height: 32px;
    top: -11px;
}
nav{
    text-align: right;
}
section{
    padding-top: 10%;
    text-align: center;
}
#input-wrapper{
    position: relative;
    width: 582px;
    top: 32px;
    display: inline-block;
}
#input-wrapper > img {
    position: absolute;
    right: 0;
    top: 30px;
    width: 28px;
}
#search-box{

    margin-bottom: 24px;
    margin-top: 24px;
    width: 100%; 
    outline: none;
    color: #222;
    border: 1px solid #dfe1e5;
    font-size: 13px;
    padding: 14px;
    border-radius: 24px;
}
#search-box:hover{
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
    border-color: rgba(223, 225, 229, 0);
}
#search-box:focus{
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
    border-color: rgba(223, 225, 229, 0);
}
.custom-btn{
    background-color: #f2f2f2;
color: #5F6368;
font-size: 14px;
height: 36px;
padding: 5px;
margin-top: 24px;
padding: 0 16px;
background-image: linear-gradient(top, #f5f5f5, #f1f1f1);
border: 1px solid transparent;
box-shadow: 0 1px 1px rgba(0, 0, 0, 0);
color: #222;
}
.custom-btn:hover{
    background-image: linear-gradient(top, #f8f8f8, #f1f1f1);
border: 1px solid #c6c6c6;
box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
color: #222;

}
.custom-btn :first-of-type{
    margin-right: 16px;
}
#app-dropdown{
    width: 285px;
    padding: 28px;
    position: absolute;
    border: 1px solid #ccc;
    right: 100px;
    display: none;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}
#dropdown-wrapper:hover
#app-dropdown{
    display: block;
}
#dropdown-wrapper{
    display: inline-block;
}
.app-item{
    display: inline-block;
    width: 84px;
    text-align: center;
    padding: 8px 2px;
    margin-bottom: 18px;
}
.app-item :hover{
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.2);
}
.app-item > img {
    width: 50px;
    height: 50px;
}
.app-item > p{
    color: #222;
    margin: 0;
    padding-top: 8px;
}